<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title>Transcript</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>

    <header>
      <div class="container border-bottom">
        <div class="py-4">
          <h4 class="text-white">Transcripts</h4>
	</div>
      </div>
    </header>

    <div class="tab-content container-fluid pt-4">

      <div class="container border-bottom">
	<div class="row">
	  <div class="col-7">
      	    <table class="table table-borderless table-hover">
	      <thead>
	      </thead>
	      <tbody class="table-group-divider">
		{% for ((thumbnail, media)) in lines -%}
		<tr>
		  {% if thumbnail -%}
		  <td><a href="player/{{ media | urlencode }}"><img src="audio/{{ thumbnail | urlencode }}" class="rounded"/></a></td>
		  <td class="align-middle"><a href="player/{{ media | urlencode }}">{{ media }}</a></td>
		  {% else -%}
		  <td><div class="align-middle text-center"><div class="spinner-border m-1" role="status"><span class="visually-hidden">Loading...</span></div></div></td>
		  <td class="align-middle">{{ media }}</td>
		  {% endif -%}
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>

	  <div class="col-5">
	    <div class="container mx-auto">
	      <div class="mb-3">
		<p>Upload a <tt>.mp3</tt> or <tt>.mp4</tt> media file to start the transcription process. Please note that <tt>.mp3</tt> (audio) files are preferred since they're lighter than <tt>.mp4</tt> (video) files.</p>
		<form enctype="multipart/form-data" method="post" id="upload_form" class="p-4 row g-2 border rounded-3 bg-body-tertiary">
		  <div class="col-auto">
		    <input class="form-control" name="file" type="file" id="file" />
		  </div>
		  <div class="col-auto">
		    <button type="button" class="btn btn-primary mb-3" value="Upload .mp3 or .mp4 file" onclick="uploadFile();">Upload</button>
		  </div>
		</form>
		<progress id="progressBar" value="0" max="100" style="width: 100%; display: none;"></progress>
	      </div>
	      <div id="upload_alert"></div>
	    </div>
	  </div>
	</div>

	<div class="tab-pane show active" id="transcripts">
	  <div class="container">

	    {% if jobs %}
	    <div class="alert alert-info" role="alert">
	      A transcription job is running in background. Wait a bit for the result...
	    </div>
	    {% endif %}

	    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
	      <div class="modal-dialog  modal-dialog-centered">
		<div class="modal-content">
		  <div class="modal-header">
		    <h5 class="modal-title" id="exampleModalLabel">Delete files</h5>
		    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
		    Are you sure you want to delete the files <tt id="delete-filename"></tt> permanently?
		  </div>
		  <div class="modal-footer">
		    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
		    <button type="button" class="btn btn-primary" onclick="delete_files();">Delete files</button>
		  </div>
		</div>
	      </div>
	    </div>

	  </div>
	</div>
      </div>

    </div>

    <script src="/static/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="/static/upload.js"></script>
  </body>
</html>
